:root {
  --fallback: rgb(61, 186, 155);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 50px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

/* -------------------SHAPES */
div {
  height: 15vh;
  width: 15vw;
}

svg path,
svg ellipse,
svg rect {
  transform: scale(0.5);
}

/* svg:hover {
  transform: rotate(20deg);
} */
