:root {
  --dark: rgb(7, 7, 7);
  --light: rgb(247, 235, 244);
}

@font-face {
  font-family: 'ShadowsIntoLight';
  src: url('assets/fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ShadowsIntoLight';
  font-size: 3vw;
}

html {
  height: 100%;
  background-color: var(--dark);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  color: whitesmoke;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  align-items: center;
}

/* -------------------STATS HEADER */
header {
  display: flex;
  justify-content: space-around;
}

/* ----------------MODE BUTTON */

#mode {
  background-color: transparent;
  border: none;
  font-size: 3.5vh;
}

.light-mode {
  background-color: var(--light);
}

.dark-mode {
  background-color: var(--dark);
}

/* ----------------COLORS & RESET BUTTON */
#buttonsDiv {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

#buttonsDiv button {
  min-width: 10vw;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

#reset {
  margin-right: 50vw;
}

#red {
  background: linear-gradient(#5c0202, #f18053);
}

#green {
  background: linear-gradient(#246828, #59f7ec);
}

#purple {
  background: linear-gradient(#641bb2, #e494ee);
}

#reset {
  background: linear-gradient(#e7bc10, #f5f5af);
}

/* -------------------SHAPES */
svg {
  width: clamp(50px, 10vw, 200px);
  height: auto;
}

svg:hover {
  transform: scale(1.75);
}

.scale {
  transform: scale(1.75);
}

.no-click {
  pointer-events: none;
}

/* path,
ellipse,
circle {
  stroke: rgb(190, 179, 179);
  stroke-width: 2;
} */
